{% extends "register.twig" %}

{% block body %}
    <div class="container">
        <div style="color: red; text-align: center">ลงทะเบียนสมัครสมาชิกสเวนเซ่นส์</div>
        <ul class="progressbar">
            <li>ข้อมูลลูกค้า</li>
            <li class="active">ที่อยู่ปัจจุบัน</li>
            <li>ยืนยันข้อมูลทั้งหมด</li>
        </ul>
    </div>

    <form method="post" action="/th/member/register/3">
        <div id="register-form" style="margin-top: 110px;">

        <div class="form-group">
            <textarea class="input input-light" name="address" id="address" placeholder="ที่อยู่" style="height: 150px;"></textarea>
        </div>

        <input type='hidden' name='name' value='{{ name }}' />
        <input type='hidden' name='last_name' value='{{ last_name }}' />
        <input type='hidden' name='email' value='{{ email }}' />
        <input type='hidden' name='password' value='{{ password }}' />
        <input type='hidden' name='confirm_password' value='{{ confirm_password }}' />
        <input type='hidden' name='mobile' value='{{ mobile }}' />
        <input type='hidden' name='DOB' value='{{ birthday_day }}/{{ birthday_month }}/{{ birthday_year }}' />
        <input type='hidden' name='special_spacify' value='{{ special_spacify }}' />
        <input type='hidden' name='member_card' value='{{ member_card }}' />
        <input type='hidden' name='expiration_day' value='{{ expiration_day }}/{{ expiration_month }}/{{ expiration_year }}' />

        {{ csrf_field() }}

        <input type="submit" id="submit" class="next-button" value="ถัดไป" />
        </div>
    </form>

{% endblock %}
